*{
	margin: 0;
	padding: 0;
	
}
.navbar{

border: none;
background-color: rgb(221, 38, 38);
color: #e94e0c;
}
body{
	background-color: #ea6315;
	color: rgb(222, 204, 204);
}
.glyphicon{
	font-size: 30px;
	color:#61122F; 
}

.center{
	width: 90%;
	background-color: rgb(0, 0, 0);

}
.container
{
	background-color: grey;
}
.text-center{
	font-size: 30px;
}

h2{
	text-align: center;
}
#myNavbar ul li a {
	color: #61122F;
}
.navbar-brand{
font-size: 30px;	
}